.container {
  display: flex;
  align-items: center;
  height: 50vh;
  width: 55%;
  margin: 0 12rem;
  text-justify: auto;
}
.titleContact {
  font-family: "Mulish";
  font-style: normal;
  font-weight: 900;
  font-size: 24px;
  line-height: 38px;
}
.textContact {
  font-family: "Inter";
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}
